<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoreEQ">

        <activity
            android:name=".MainActivity"
            android:banner="@drawable/tv_banner"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MeasureActivity"
            android:exported="false"
            android:label="@string/measure_title" />

        <activity
            android:name=".ProfilesActivity"
            android:exported="false"
            android:label="@string/profiles_title" />

        <activity
            android:name=".CapabilityActivity"
            android:exported="false"
            android:label="@string/capability_title" />

        <service
            android:name=".apply.EqService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name=".apply.SessionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.OPEN_AUDIO_EFFECT_CONTROL_SESSION" />
                <action android:name="android.media.action.CLOSE_AUDIO_EFFECT_CONTROL_SESSION" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
