<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="tv.corebuilds.iconpack" />
        <package android:name="dev.corebuilds.line" />
        <package android:name="dev.corebuilds.shift" />
        <package android:name="tv.corebuilds.motion" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoreDoctor">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CoreDoctor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
